body {

	height: 90vh;
	margin: 0;
	background:url("img/image001.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
}
.dragons{
	height: 40%;
	width: 100%;
	background-color: transparent;
}
.colonnee{
	height: 70%;
	width: 20%;
	background-color: transparent;
	margin-left: 80%;
	animation: bougedroite 15s infinite;
	transform: scaleX(-1);
}
.colonne{
	height: 70%;
	width: 20%;
	background-color: transparent;
	margin-left: 80%;
	animation: bouge 20s infinite;
}
.birdmove{
height: 60%;
width: 90%;
background-color: transparent;
animation:hautbas 1s infinite alternate;
}
.dogmove{
height: 100%;
width: 100%;
background-color: transparent;
animation:hautbas 1s infinite alternate;
}

.birdy{
background:url("img/eagle.png");
height: 100%;
background-repeat: no-repeat;
background-size: contain;
}

.unicorn{
background:url("img/licorne.gif");
height: 100%;
background-repeat: no-repeat;
background-size: contain;

}
.dog{
background: url("img/dino.gif");
height: 100%;
background-repeat: no-repeat;
background-size: contain;
transform: scaleX(-1);
}
.center{
	height: 20%;
	width: 100%;
	background-color: transparent;
}
.centerunicorn{
	height: 20%;
	width: 100%;
	background-color: transparent;
}
.boiteunicorn{
margin-top: 15%;
height: 80%;
width: 30%;
animation: bougedroite 10s infinite;
background-color: transparent;
}
.bee {
background:url("img/bee.png");
height: 100%;
background-repeat: no-repeat;
background-size: contain;
animation: spin 1s infinite;
}

.unicornrainbow{
background:url("img/indien.gif");
height: 100%;
background-repeat: no-repeat;
background-size: contain;

}
.moutons{
	margin-top: 5%;
	height: 30%;
	width: 100%;
	background-color: transparent;
}
.boite{
height: 60%;
width: 10%;
animation: bouge 4s infinite;
background-color: transparent;
}
.boitebee{
height: 60%;
width: 10%;
animation: bouge 14s infinite;
background-color: transparent;
}

.boite2{
height: 100%;
width: 10%;
animation: bougedroite 8s infinite;
background-color: transparent;
transform: scaleX(-1);
}

.un{
	margin-top: 10%;
	height: 80%;
	width: 80%;
	border-radius: 20%;
	animation: bounce 0.5s infinite ;
	background:url("img/mouton.png");
	background-repeat: no-repeat;
	background-size: contain;
}
.deux{
	margin-top: 10%;
	height: 100%;
	width: 100%;
	border-radius: 20%;
	animation: bounce 1s infinite ;
	background:url("img/mouton.png");
	background-repeat: no-repeat;
	background-size: contain;
}

@keyframes bounce {
    50% {transform: translateY(-30px);}
} 

@keyframes bouge {
  from {margin-left: -12%;}
  to {margin-left: 102%;}
}
@keyframes bougedroite {
  from {margin-left: 102%;}
  to {margin-left: -20%;}
}

@keyframes hautbas {
	from {
		margin-top: 5%;
	}
	to {
		margin-top: 15vh;
	}
}
 @keyframes spin { 
        from { 
            transform: rotate(0deg); 
        } to { 
            transform: rotate(360deg); 
        }
    }
