body{
	margin:0;
	font-family: 'Lato', sans-serif;

}
h1{
	font-size: 110%;
}
h3{
	font-size: 70%;
	opacity: 0.6;
	color: white;
	padding-left: 4%;
}
h5{
	margin-bottom: 0;
	color:#24890d;
}

hr {
	height: 8px;
	background-color: black;
}
.navigation {
	margin: 0;
	display: flex;
	position:fixed;
	width: 100%;
	height:48px;
	background-color: black;
}
.title{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	width: 30%;
	color: white;
	padding-left: 2%;
}
.menu{
	height: 100%;
	width: 65%;
}
.search{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 4%;
	background-color: #24890d;
	color: white;
}

ul {
	display: flex;
	justify-content: space-between;
	margin-top: 0%;
	padding-left: 0%;
	height: 100%;
}
li{
	display: flex;
	align-items: center;
	padding-right: 2%;
	padding-left: 2%;
}
li:hover{
	background-color: #24890d;
}

li a {
	text-decoration: none;
	color: white;
}

.main{
	width: 100%;
	display: flex;
	flex-direction: row;
	height: 1430px;
	background-color: black;
}
.deroulant{
	display: flex;
	flex-direction: column;
	padding-top: 4%;
	height: 100%;
	width: 278px;
}

.deroulant ul {
	display: flex;
	justify-content: space-between;
	margin-top: 0%;
	padding-left: 0%;
	height: 100%;
}
.deroulant li{
	display: flex;
	align-items: center;
	padding-right: 4%;
	padding-left: 4%;
	padding-top: 1%;
	padding-bottom: 1%;
	border-bottom: 1px solid rgba(333, 333, 333,0.5);
}
.deroulant li:hover{
	background-color: #24890d;
}

.deroulant li a {
	text-decoration: none;
	color: white;
	font-size: 70%;
}
.deroulantcentre{
	width: 200px;
	height: 100%;
	margin-left: 10%;
	padding-top: 3%;
	color: white;
}
.recherche{
	background-color: #191919;
	border-radius: 4%;
	width: 192px;
	height: 28px;
	padding-left: 2%;
	padding-top: 0.3%;
	padding-bottom: 0.3%;
	border: 2px solid rgba(333, 333, 333,0.2);
	color:white;
	opacity: 0.7;
	margin-bottom: 20%;
}
.release{
	width: 100%;
	height: 202px;
	background:url('images/wide-listener-1024x1024.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
#release{
	font-style:italic;
	opacity: 0.5;
	margin-bottom: 0;
	margin-top: 8%;
}
#thanks{
	padding-top: 30%;
}
#opacity{
	opacity: 0.5;
}
#audiotheme{
	opacity:0.8;
	font-size:90%;
	padding-top: 30%;
}
#foot{
	opacity:0.5;
	font-size:90%;
	color:white;
}
.deroulant p{
	margin-top: 2%;
}
.center{
	background-color: white;
	width: 85%;
	padding-top: 3%;
}
.triptik{
	display: flex;
	flex-direction: row;
	height: 400px;

}
.theme{
	width: 34%;
}
.image1{
	height: 200px;
	background:url('images/nowell-featured-image-1038x576.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.image2{
	height: 200px;
	background:url('images/image3577.png');
	background-size: cover;
	background-repeat: no-repeat;
}
.image3{
	height: 200px;	
	background:url('images/322267385_640.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.info{
	background-color: black;
	padding-left: 2%;
	height: 150px;
	color: white;
}
.info h4 {
	margin-top: 0;
	padding-top: 2%;
	font-size: 70%;
}
.info h1{
	font-weight: lighter;
}
.contenu{
	display: flex;
	flex-direction: row;
}
.text{
	height: 780px;
	width: 45%;
	margin-left: 10%;
}
.text h1{
	font-size:200%;
	font-weight: lighter;
}
.gigs{
	width: 30%;
	height: 780px;
	margin-left: 12%;
}
.gigs h1{
	font-weight: bold;
	font-size: 120%;
}
.date{
	border-bottom: 1px solid rgba(5, 0, 0,0.2);
}
#lieu{
	font-style:italic;
	opacity: 0.5;
	margin-bottom: 0;
	margin-top: 0;
}
#dates{
	opacity:0.5;
	font-size:90%;
	margin-top: 0;
}
.footer{
	display: flex;
	align-items: center;
	width: 100%;
	height: 60px;
	background-color: black;
	padding-left: 5%;
}
.feat{
	display: flex;
	flex-direction: column;
	margin-top: 10%;
	height: 40%;
}
.feat p{
	font-size: 70%;
	font-style:italic;
	color:grey;
}
.player{
	display: flex;
	flex-direction: row;
	margin: 0;
	border-top:solid 8px;
	height: 20%;

}
.player h1{
	font-weight: bold;
	font-size: 120%;
	margin-left: 3%;
	margin-top: 4%;
}
.play{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	color: white;
	height: 50%;
	width: 12%;
}
.green{
	color:#24890d;
}

@media (min-width:320px) and (max-width: 480px)
{
h1{
	font-size: 50%;
}
h4{
	font-size: 40%;
}
h5 {
    margin-bottom: 0;
    color: #24890d;
    font-size: 20%;
}
p{
	font-size: 30%;
}
hr {
    height: 2px;
    background-color: black;
}
.main{
	height: 580px;
}
#audiotheme {
	opacity: 0.8;
	font-size: 15%;
	padding-top: 20%;
}
#thanks {
    padding-top: 10%;
}
#dates {
	opacity: 0.5;
	font-size: 20%;
	margin-top: 0;}
.navigation {
	margin: 0;
	display: flex;
	position:fixed;
	width: 100%;
	height:28px;
	background-color: black;
}
.title{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	width: 40%;
	color: white;
	padding-left: 2%;
}
.menu{
	height: 100%;
	width: 55%;
}
.triptik {
    display: flex;
    flex-direction: row;
    height: 200px;
}
.image1 {
    height: 100px;
    background: url('images/nowell-featured-image-1038x576.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.image2 {
    height: 100px;
	background:url('images/image3577.png');    
	background-size: cover;
    background-repeat: no-repeat;
}
.image3 {
    height: 100px;
	background:url('images/322267385_640.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.info {
    background-color: black;
    padding-left: 2%;
    height: 100px;
    color: white;
}
.search{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 4%;
	background-color: #24890d;
	color: white;
}
li a {
	text-decoration: none;
	color: white;
	font-size: 30%;
}
.deroulant{
	display: flex;
	flex-direction: column;
	padding-top: 1%;
	height: 100%;
	width: 30%;
}
.recherche{
	background-color: #191919;
	border-radius: 4%;
	width: 30%;
	height: 2%;
	padding-left: 2%;
	padding-top: 0.3%;
	padding-bottom: 0.3%;
	border: 2px solid rgba(333, 333, 333,0.2);
	color:white;
	opacity: 0.7;
	margin-bottom: 20%;
}
.center{
	background-color: white;
	width: 70%;
	padding-top: 1%;
}
.release {
    width: 40%;
    height: 82px;
    background: url('images/wide-listener-1024x1024.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.player {
    display: flex;
    flex-direction: row;
    margin: 0;
    border-top: solid 2px;
    height: 20%;
}
.play {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 50%;
    width: 12%;
    font-size: 10%;
}
.text {
    height: 380px;
    width: 45%;
    margin-left: 10%;
}
.gigs{
	height: 50%;
}
.text h1{
	font-size: 40%;
}
.gigs h1 {
    font-weight: bold;
    font-size: 30%;
}
.feat p {
    font-size: 30%;
    font-style: italic;
    color: grey;
}
.footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20px;
    background-color: black;
    padding-left: 5%;
}
#foot {
    opacity: 0.5;
    font-size: 20%;
    color: white;
}
}
